<div class="container">
  <div class="row mt-4">
    <div class='col-12 mx-auto'>
      <h2 class="text-center bg-light"><strong>修理履歴詳細</strong></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-7 my-4'>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark" style="width: 20%">注文日</td>
            <td><%= @repair.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">車椅子の種類</td>
            <td><%= @repair.wheelchair_kinds %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">タイヤ</td>
            <td><%= @repair.tire %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">キャスター</td>
            <td><%= @repair.caster %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">ブレーキ</td>
            <td><%= @repair.break %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">修理場所</td>
            <td>
              <%= @repair.address %></br>
              <%= @repair.name %>
            </td>
          </tr>
          <tr>
            <td class="table-active text-dark">ステータス</td>
            <td>
              <%= @repair.status %>
              <%= form_with model: @repair, url: admin_repair_path, class: "d-inline-block" do |f| %>
                <div class="form-inline">
                  <%= f.select(:status, ["修理依頼中", "スケジュール調整中", "修理完了済み"], {}, { class: "custom-select mx-3"}) %>
                  <%= f.submit "更新", class: 'btn btn-success' %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5 mt-3">
      <p class="text-center bg-light"><strong>メモ</strong></p>
      <%= form_with model: @repair, url: admin_repair_path do |f| %>
        <%= f.text_area :message, class:"form-control", size: "20x13" %>
        <%= f.submit "保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>