<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-4">
      <h2 class="text-center w-25 h4 bg-light">管理者ログイン</h2>
    </div>
  </div>

    <div class="row mt-4">
      <div class="col-md-6 mx-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= f.label :email, 'メールアドレス', class: "col-form-label" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
              </tr>

              <tr>
                <td><%= f.label :password, 'パスワード', class: "col-form-label" %></td>
                <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
              </tr>

              <tr>
                <td></td>
                <td><%= f.submit "ログイン", class: "btn btn-primary text-white col-6" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <%= render "admin/shared/links" %>
      </div>
    </div>
</div>