<div class="container">
  <div class="row mt-3">
    <div class='mt-3 col-4 mx-auto'>
      <h2 class="text-center bg-light"><strong>スタッフとチャット</strong></h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <div class="chat bg-light p-4">
        <div class="message">
          <% if @messages.blank? %>
            <p>メッセージはありません</p>
          <% else%>
            <% @messages.each do |message| %>
              <div>
                <% if message.customer %>
                  <div style="text-align: right;">
                    <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
                    <%= @room.customer.first_name %>
                    <div class="bg-success text-white rounded-pill py-1 px-2">
                    <%= message.message %></div>
                  </div>
                <% else %>
                  <div style="text-align: left;">
                    <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
                    スタッフ
                    <p class="bg-secondary text-white rounded-pill w-50 py-1 px-2">
                    <%= message.message %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="row mt-3">
          <div class="col-12">
          <div style="text-align: right;">
            <%= form_with model: @message, url: message_path, local: true do |f| %>
              <%= f.text_field :message, class:"form-control" %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit "送信", class:"btn btn-success" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>