<div class="container mt-4">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <h2 class="card-header bg-light"><%= @customer.full_name %>さまの会員詳細</h2>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="table-active text-dark" style="width: 30%">会員ID</td>
                <td style="width: 70%"><%= @customer.id %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">氏名</td>
                <td><%= @customer.full_name %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">フリガナ</td>
                <td><%= @customer.kana_full_name %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">生年月日</td>
                <td class="w-100"><%= @customer.birth_date %><span class="pl-3"><%= @customer.age %></span></td>
              </tr>
              <tr>
                <td class="table-active text-dark">郵便番号</td>
                <td><%= @customer.post_code %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">住所</td>
                <td><%= @customer.address %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">電話番号</td>
                <td><%= @customer.telephone_number %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">メールアドレス</td>
                <td><%= @customer.email %></td>
              </tr>
              <tr>
                <td class="table-active text-dark">会員ステータス</td>
                <td>
                  <% if @customer.is_deleted %>
                    退会
                  <% else %>
                    <div class="text-success">有効</div>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success mr-3" %>
          <%= link_to "登録住所一覧", admin_delivery_path(@customer), class: 'btn btn-primary mr-3' %>
          <%= link_to "注文履歴一覧", admin_path(@customer), class: "btn btn-primary mr-3" %>
          <%= link_to "修理履歴一覧", admin_admin_history_path(@customer), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-5 mt-3">
      <p class="text-center bg-light"><strong>メモ</strong></p>
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
        <%= f.text_area :message, class:"form-control", size: "20x13" %>
        <%= f.submit "保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>