<!-- 売上管理表・売上グラフ -->
<div class="container">
  <!-- 売上管理表 -->
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <h2 class="text-center bg-light h4 col-4">売上管理表(過去6か月間)</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th></th>
            <th><%= Date.today.months_ago(5).strftime('%-m月') %></th>
            <th><%= Date.today.months_ago(4).strftime('%-m月') %></th>
            <th><%= Date.today.months_ago(3).strftime('%-m月') %></th>
            <th><%= Date.today.months_ago(2).strftime('%-m月') %></th>
            <th><%= @month.prev_month.strftime('%-m月') %></th>
            <th><%= @month.strftime('%-m月') %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>商品売上値段</td>
            <td><%= @six_month.all.sum(:billing_amount).to_s(:delimited) %>円</td>
            <td><%= @five_month.all.sum(:billing_amount).to_s(:delimited) %>円</td>
            <td><%= @four_month.all.sum(:billing_amount).to_s(:delimited) %>円</td>
            <td><%= @three_month.all.sum(:billing_amount).to_s(:delimited) %>円</td>
            <td><%= @last_month.all.sum(:billing_amount).to_s(:delimited) %>円</td>
            <td><%= @this_month.all.sum(:billing_amount).to_s(:delimited) %>円</td>
          </tr>
          <tr class="text-center">
            <td>修理依頼数</td>
            <td><%= @six_month.count %>回</td>
            <td><%= @five_month.count %>回</td>
            <td><%= @four_month.count %>回</td>
            <td><%= @three_month.count %>回</td>
            <td><%= @last_month.count %>回</td>
            <td><%= @this_month.count %>回</td>
          </tr>
          <tr class="text-center">
            <td>オーダーメイド見積依頼数</td>
            <td><%= @six_month_made.count %>回</td>
            <td><%= @five_month_made.count %>回</td>
            <td><%= @four_month_made.count %>回</td>
            <td><%= @three_month_made.count %>回</td>
            <td><%= @last_month_made.count %>回</td>
            <td><%= @this_month_made.count %>回</td>
          </tr>
          <%#= @category.impressionist_count %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 売上グラフ -->
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <h2 class="text-center bg-light h4 col-4">売上グラフ(過去6か月間)</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <%= render "admin/orders/earnings",
      locals: { six_month_made: @six_month_made, five_month_made: @five_month_made, four_month_made: @four_month_made,
                three_month_made: @three_month_made, last_month_made: @last_month_made, this_month_made: @this_month_made } %>
    </div>
  </div>
</div>