<div class="container">
  <h2 class="text-center bg-light h4 col-3">注文履歴詳細</h2>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>購入者</td>
            <td><%= @order.customer.full_name %></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
            <td></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>〒<%= @order.customer.post_code %>
                <%= @order.customer.address %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment %></td>
          </tr>
          <tr>
            <td>支払い方法</td>
            <td>
              <%= form_with model:@order, url: admin_order_path, class: "d-inline-block" do |f| %>
                <div class="form-inline">
                   <%= f.select(:status, ["受注確認中", "入金確認", "製作中", "発送済み"], {}, { class: "custom-select mr-2"}) %>
                   <%= f.submit "更新", class: 'btn btn-success' %>
                </div>
               <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--注文した商品をテーブルで表示-->
  <div class="row">
    <div class="col-8">
      <table class="table table-borderless">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <% @order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>¥<%= (order_detail.item.price*1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td>¥<%= ((order_detail.item.price * order_detail.amount*1.1).floor).to_s(:delimited) %></td>
            <td>
              <%= form_with model:order_detail, url: admin_order_detail_path(order_detail),method: :patch do |f| %>
                <div class="form-inline">
                  <%= f.select(:making_status, ["着手不可", "製作待ち", "製作中", "製作完了"], {}, { class: "custom-select mr-3" } ) %>
                  <%= f.submit "更新", class: 'btn btn-success ms-2 d-inline' %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

   <!--注文商品の合計金額表示-->
    <table class="table col-4 table-borderless">
      <tbody>
        <tr>
          <td><strong>商品合計</strong></td>
          <td>¥<%= (@order.billing_amount - @order.postage).to_s(:delimited) %></td>
        </tr>


        <tr>
          <td><strong>送料</strong></td>
          <td>¥<%= @order.postage %></td>
        </tr>

        <tr>
          <td><strong>請求金額合計</strong></td>
          <td>¥<%= @order.billing_amount.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>