<div class='container border rounded' style="background-color: #FFFFFF;">
  <div class='row'>
    <div class='mt-5 col-4 mx-auto'>
      <%= render 'layouts/errors', obj: @contact %>
      <h2 class="text-center bg-light"><strong>お問い合わせ</strong></h2>
    </div>
  </div>
  <div class='row mt-3'>
    <div class="col-8 mx-auto">
      <%= form_with model: @contact, url: contacts_confirm_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>ご用件について</strong></td>
            <td>
              <div>
                <span class="mr-5">
                  <%= f.radio_button :subject, :商品について %>
                  <%= f.label :subject, "商品について" %>
                </span>
                  <%= f.radio_button :subject, :オーダーメイドについて %>
                  <%= f.label :subject, "オーダーメイドについて" %>
              </div>
              <div>
                <span class="mr-5">
                  <%= f.radio_button :subject, :修理依頼について %>
                  <%= f.label :subject, "修理依頼について" %>
                </span>
                  <%= f.radio_button :subject, :その他について %>
                  <%= f.label :subject, "その他について" %>
              </div>
            </td>
          </tr>
          <tr>
            <td><strong>お名前</strong></td>
            <td><%= f.text_field :name, class: "form-control mb-2" %></td>
          </tr>
          <tr>
            <td><strong>電話番号</strong></td>
            <td><%= f.text_field :phone_number, class: "form-control mb-2" %></td>
          </tr>
          <tr>
            <td><strong>メールアドレス</strong></td>
            <td><%= f.text_field :email, class: "form-control mb-2" %></td>
          </tr>
          <tr>
            <td><strong>ご連絡方法</strong></td>
            <td>
              <span class="mr-5">
                <%= f.radio_button :status, :電話 %>
                <%= f.label :status, "電話" %>
              </span>
              <%= f.radio_button :status, :メール %>
              <%= f.label :status, "メール" %>
            </td>
          </tr>
          <tr>
            <td><strong>お問い合わせ内容</strong></td>
            <td><%= f.text_area :message, class: "form-control mb-2" %></td>
          </tr>
        </tbody>
      </table>
      <div class="mb-5 col-12 text-center">
      <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>