<div class="container">
  <div class="row my-5">
    <div class="col-8 mx-auto text-center">
      <h3 class="bg-light"><strong>車椅子のことなら弊社にお任せください</strong></h3>
    </div>
  </div>
  <div class="row mx-auto my-5">
    <div class="col-7">
      <%= image_tag 'disabled.jpg', style: "width: 90%;" %>
    </div>
    <div class="col-5 mx-right">
      <h1 class="display-3"><strong>1＿</strong></h1>
      <h1 class="display-5 mt-3"><strong>技術力</strong></h1>
      <div class="mt-3">
        弊社は車椅子を専門に30年以上やってきました。
        車椅子のことなら技術力のある弊社にお任せください
      </div>
    </div>
  </div>
  <div class="row mx-auto my-5">
    <div class="col-5 mx-right">
      <h1 class="display-3"><strong>2＿</strong></h1>
      <h1 class="display-5 mt-3"><strong>安心</strong></h1>
      <div class="mt-3">
        弊社では福祉用具専門相談員、資格保持者が在籍しております。
        商品のご購入についてご不明なてんがありましたら、お気軽に
        <%= link_to "お問い合わせ", contacts_path %>
        くださいませ
      </div>
    </div>
    <div class="col-7">
      <%= image_tag 'hospice.jpg', style: "width: 90%;" %>
    </div>
  </div>
  <div class="row mx-auto my-5">
    <div class="col-7">
      <%= image_tag '便利.jpg', style: "width: 90%;" %>
    </div>
    <div class="col-5 mx-right">
      <h1 class="display-3"><strong>3＿</strong></h1>
      <h1 class="display-5 mt-3"><strong>便利</strong></h1>
      <div class="mt-3">
        通常壊れた車椅子をメーカーに送ったり持って行ったりと手間がありますが、
        弊社は現場で修理、メンテナンスをいたしますので、手間がありません
      </div>
    </div>
  </div>
  <div class="mt-5">
    <%= render 'public/categories/index', categories: @categories %>
  </div>
</div>
