<div class='container'>
  <div class='row'>
    <div class='col-8 mt-3 mx-auto'>
      <h4 class="text-center bg-light">修理依頼確認</h4>
    </div>
  </div>
  <div class='row mt-3'>
    <div class="col-8 mx-auto">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark w-30">修理品</td>
            <td class="w-150"><%= @repair.wheelchair_kinds %></td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">タイヤ</td>
            <td class="w-150"><%= @repair.tire %></td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">ブレーキ</td>
            <td class="w-150"><%= @repair.break %></td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">キャスター</td>
            <td class="w-150"><%= @repair.caster %></td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">その他</td>
            <td class="w-150"><%= @repair.others %></td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">修理場所(住所)</td>
            <td class="w-150"><%= @repair.address %><%= @repair.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= form_with model: @repair do |f| %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :wheelchair_kinds %>
    <%= f.hidden_field :tire %>
    <%= f.hidden_field :break %>
    <%= f.hidden_field :caster %>
    <%= f.hidden_field :others %>
    <div class='mt-3 ml-8'>
      <div class="text-center">
      <%= f.submit "注文を確定する", class: "btn btn-success text-center" %>
      </div>
    </div>
  <% end %>
</div>