<div class='container'>
  <div class='row'>
    <div class='mt-3 col-8 mx-auto'>
      <%= render 'layouts/errors', obj: @repair %>
      <h2 class="text-center h4 bg-light">修理依頼</h2>
    </div>
  </div>
  <div class='row mt-3'>
    <div class="col-12 mx-auto">
      <%= form_with model: @repair, url: repairs_confirm_path do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="width: 17%;"><strong>修理品を選択</strong></td>
              <td class="text-danger" style="width: 13%;">必須</td>
              <td style="width: 23%;">
                <%= f.radio_button :wheelchair_kinds_option, 0, checked: "checked" %>
                <%= f.label :category_name, "カテゴリから選択" %>
              </td>
              <td colspan="2"><%= f.collection_select(:categories, @categories, :id, :category_name, {}, { class: "custom-select" }) %></td>
            <tr class="border-bottom mb-3">
              <td colspan="2" style="height: 80px;"></td>
              <td>
                <%= f.radio_button :wheelchair_kinds_option, 1 %>
                <%= f.label :wheelchair_kinds, "その他" %>
              </td>
              <td colspan="2">
                <%= f.text_field :wheelchair_kinds, class: "form-control" %>
              </td>
            </tr>
            <tr class="align-middle border-bottom">
              <td class="align-middle" style="height: 80px; width: 17%;"><strong>タイヤ関係</strong></td>
              <td class="align-middle" style="width: 13%;">任意</td>
              <td class="align-middle">
                <%= f.radio_button :tire, :タイヤとチューブ交換 %>
                <%= f.label :tire, "タイヤとチューブ交換" %>
              </td>
              <td class="align-middle">
                <%= f.radio_button :tire, :タイヤのみ交換 %>
                <%= f.label :tire, "タイヤのみ交換" %>
              </td>
              <td class="align-middle">
                <%= f.radio_button :tire, :チューブのみ交換 %>
                <%= f.label :tire, "チューブのみ交換" %>
              </td>
            </tr>
            <tr class="border-bottom">
              <td class="align-middle" style="height: 80px;"><strong>ブレーキ関係</strong></td>
              <td class="align-middle">任意</td>
              <td class="align-middle">
                <%= f.radio_button :break, :ブレーキの調整 %>
                <%= f.label :break, "ブレーキの調整" %>
              </td>
              <td class="align-middle">
                <%= f.radio_button :break, :ブレーキの交換 %>
                <%= f.label :break, "ブレーキの交換" %>
              </td>
              <td colspan="1"></td>
            </tr>
            <tr class="border-bottom" style="height: 80px;">
              <td class="align-middle"><strong>キャスター関係</strong></td>
              <td class="align-middle">任意</td>
              <td class="align-middle">
                <%= f.radio_button :caster, :キャスターの交換 %>
                <%= f.label :caster, "キャスターの交換" %>
              </td>
              <td class="align-middle">
                <%= f.radio_button :caster, :キャスターの清掃 %>
                <%= f.label :caster, "キャスターの清掃" %>
              </td>
              <td colspan="1"></td>
            </tr>
            <tr>
              <td class="align-middle"><strong>修理場所の住所</strong></td>
              <td class="text-danger align-middle">必須</td>
              <td class="align-middle">
                <%= f.radio_button :address_option, 0, checked: "checked" %>
                <%= f.label :customer_id, "ご自身の住所" %>
              </td>
              <td colspan="2">
                <span class="pr-2"><%= current_customer.post_code %></span>
                <span class="pr-2"><%= current_customer.address %></span>
                <%= current_customer.first_name %><%= current_customer.last_name %>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <% if @deliveries.blank? %>
                <td colspan="1"></td>
                <td colspan="2"><p>他の住所は登録されていません</p></td>
              <% else %>
                <td>
                  <%= f.radio_button :address_option, 1 %>
                  <%= f.label :deliveries, "登録済住所から選択" %>
                </td>
                <td colspan="2">
                  <%= f.collection_select(:customer_id, @deliveries, :id, :full_delivery, {}, { class: "custom-select" }) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>
                <%= f.radio_button :address_option, 2 %>
                <%= f.label :repair_address, "その他" %>
              </td>
              <td colspan="2">
                <%= f.label :delivery_name, '住所' %>
                <%= f.text_field :address, class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td colspan="2">
                <%= f.label :delivery_name, '宛名' %>
                <%= f.text_field :delivery_name, class: "form-control" %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>