<!-- 修理履歴詳細 -->
<div class='container'>
  <div class='row'>
    <div class='col-8 mt-5 mx-auto'>
      <h4 class="text-center bg-light">修理履歴詳細</h4>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-8 mx-auto'>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark" style="width: 30%">注文日</td>
            <td><%= @repair.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">車椅子の種類</td>
            <td><%= @repair.wheelchair_kinds %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">タイヤ</td>
            <td><%= @repair.tire %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">キャスター</td>
            <td><%= @repair.caster %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">ブレーキ</td>
            <td><%= @repair.break %></td>
          </tr>
          <tr>
            <td class="table-active text-dark align-middle">修理場所</td>
            <td>
              <%= @repair.address %><br>
              <%= @repair.name %>
            </td>
          </tr>
          <tr>
            <td class="table-active text-dark">ステータス</td>
            <td>
              <% if @repair.status == "修理依頼中" %>
                <p style="color: #fd7e14;"><%= @repair.status %></p>
              <% elsif @repair.status == "スケジュール調整中" %>
                <p style="color: #ffc107;"><%= @repair.status %></p>
              <% elsif @repair.status == "修理完了済み" %>
                <p style="color: #28a745;"><%= @repair.status %></p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>