<!-- シート生地 追加 -->
<div class="container">
  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :image, 'シートイメージ', class: "col-form-label" %></td>
            <td><%= f.file_field :image, accept: 'image/*', class: "form-control-file" %></td>
          </tr>
          <tr>
            <td>シート生地名</td>
            <td><%= f.text_field :name, class: "form-control col" %></td>
          </tr>
          <% if local_assigns[:edit_flag].present? %>
            <tr>
              <td><%= f.label '販売ステータス' %></td>
              <td>
                <span class="text-success mr-4">
                  <%= f.radio_button :is_active, false %>
                  <%= f.label :is_active, '販売中' %>
                </span>
                <span class="text-danger">
                  <%= f.radio_button :is_active, true %>
                  <%= f.label :is_active, '販売停止' %>
                </span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit '変更を保存', class: "border-success rounded-success btn text-success" %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= f.label '販売ステータス' %></td>
              <td>
                <span class="text-success mr-4">
                  <%= f.radio_button :is_active, false, checked: true %>
                  <%= f.label :is_active, '販売中' %>
                </span>
                <span class="text-danger">
                  <%= f.radio_button :is_active, true, checked: false %>
                  <%= f.label :is_active, '販売停止' %>
                </span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit '新規登録', class: "border-success rounded-success btn text-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>