<div class='container border rounded' style="background-color: #FFFFFF;">
  <div class='row'>
    <div class='col-8 mt-5 mx-auto'>
      <h2 class="text-center bg-light"><strong>オーダーメイド見積依頼の内容確認</strong></h2>
    </div>
  </div>
  <div class='row mt-4'>
    <div class="col-8 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr class="border-bottom">
            <td class="table-active text-dark border-bottom" style="width: 25%">
              フレームの種類
            </td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>
              <div>
                <%= @made_to_order.flame2 %>
                <%= @made_to_order.flame2 %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">型式</td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.type %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">車体</td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.material %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">フレーム色</td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>アルマイト：<%= @made_to_order.flame_color %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">サイドガード色</td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>アルマイト：<%= @made_to_order.side_color %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">シート</td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>
              <div>
                座シート：色<%= @made_to_order.seat_color %>
              </div>
              <div>
                背シート：色<%= @made_to_order.back_color %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">ブレーキ</td>
            <td class="table-active text-dark" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.break %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">介護ブレーキ</td>
            <td class="table-active text-dark" style="width: 10%">任意</td>
            <td><%= @made_to_order.nursing_break %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">転倒防止装置</td>
            <td class="table-active text-dark" style="width: 10%">任意</td>
            <td><%= @made_to_order.turnover %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">オプション</td>
            <td class="table-active text-dark" style="width: 10%">任意</td>
            <td>
              <div>
                杖入れ：<%= @made_to_order.cane %>
                <%= @made_to_order.cane2 %>
              </div>
              <div>
                クッション：<%= @made_to_order.cushion %>
              </div>
              <div>
                テーブル：<%= @made_to_order.table %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark">その他要望</td>
            <td class="table-active text-dark" style="width: 10%">任意</td>
            <td><%= @made_to_order.others %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row mt-3 mb-5'>
    <div class="col-10 text-center ">
      <div class="btn-group">
      <%= form_with model: @made_to_order, url: made_to_orders_back_path do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :status %>
        <%= f.hidden_field :type %>
        <%= f.hidden_field :material %>
        <%= f.hidden_field :flame %>
        <%= f.hidden_field :flame2 %>
        <%= f.hidden_field :flame_color %>
        <%= f.hidden_field :side_color %>
        <%= f.hidden_field :seat_color %>
        <%= f.hidden_field :back_color %>
        <%= f.hidden_field :break %>
        <%= f.hidden_field :nursing_break %>
        <%= f.hidden_field :turnover %>
        <%= f.hidden_field :cane %>
        <%= f.hidden_field :cane2 %>
        <%= f.hidden_field :cushion %>
        <%= f.hidden_field :table %>
        <%= f.hidden_field :others %>
        <%= f.hidden_field :message %>
        <%= f.submit '入力画面に戻る', class: "border-primary rounded-primary btn text-primary text-center mr-5" %>
      <% end %>
      <%= form_with model: @made_to_order do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :status %>
        <%= f.hidden_field :type %>
        <%= f.hidden_field :material %>
        <%= f.hidden_field :flame %>
        <%= f.hidden_field :flame2 %>
        <%= f.hidden_field :flame_color %>
        <%= f.hidden_field :side_color %>
        <%= f.hidden_field :seat_color %>
        <%= f.hidden_field :back_color %>
        <%= f.hidden_field :break %>
        <%= f.hidden_field :nursing_break %>
        <%= f.hidden_field :turnover %>
        <%= f.hidden_field :cane %>
        <%= f.hidden_field :cane2 %>
        <%= f.hidden_field :cushion %>
        <%= f.hidden_field :table %>
        <%= f.hidden_field :others %>
        <%= f.hidden_field :message %>
        <%= f.submit "見積依頼をする", class: "btn btn-success text-center ml-5" %>
      <% end %>
      </div>
    </div>
  </div>
</div>