<!-- オーダーメイドの見積依頼内容の確認 -->
<div class='container border rounded' style="background-color: #FFFFFF;">
  <div class='row'>
    <div class='col-8 mt-5 mx-auto'>
      <h2 class="text-center bg-light"><strong>オーダーメイド見積依頼の内容確認</strong></h2>
    </div>
  </div>
  <div class='row mt-4'>
    <div class="col-8 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr class="border-bottom">
            <td class="table-active text-dark border-bottom align-middle" style="width: 25%">
              フレームの種類
            </td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>
              <div>
                <%= @made_to_order.flame %>-
                <%= @made_to_order.flame2 %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">型式</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.wheelchair_type %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">車体</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.material %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">フレーム色</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>アルマイト：
              <%= @made_to_order.flame_color.name %>
              <%= image_tag @made_to_order.flame_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">サイドガード色</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>アルマイト：
              <%= @made_to_order.side_color.name %>
              <%= image_tag @made_to_order.side_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">シート色</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>
              <div>
                座シート：<%= @made_to_order.seat_color.name %>
                <%= image_tag @made_to_order.seat_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
              </div>
              <div>
                背シート：<%= @made_to_order.back_color.name %>
                <%= image_tag @made_to_order.back_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">ブレーキ</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.break %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">介護ブレーキ</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.nursing_break %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">転倒防止装置</td>
            <td class="table-active text-dark align-middle" style="width: 10%">任意</td>
            <td>
              <% if @made_to_order.turnover.present? %>
                <%= @made_to_order.turnover %>
              <% else %>
                無し
              <% end %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">オプション</td>
            <td class="table-active text-dark align-middle" style="width: 10%">任意</td>
            <td>
              <% if @made_to_order.cane.present? %>
              <div>
                杖入れ：<%= @made_to_order.cane %>
                <span class="mx-2">/</span>
                <%= @made_to_order.cane2 %>
              </div>
              <% end %>
              <% if @made_to_order.cushion.present? %>
              <div>
                クッション：<%= @made_to_order.cushion %>
              </div>
              <% end %>
              <% if @made_to_order.table.present? %>
              <div>
                テーブル：<%= @made_to_order.table %>
              </div>
              <% end %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">その他要望</td>
            <td class="table-active text-dark align-middle" style="width: 10%">任意</td>
            <td><%= @made_to_order.others %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row mt-3 mb-5 text-center'>
    <div class="col-8 mx-auto">
      <%= form_with model: @made_to_order do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :status %>
        <%= f.hidden_field :wheelchair_type %>
        <%= f.hidden_field :material %>
        <%= f.hidden_field :flame %>
        <%= f.hidden_field :flame2 %>
        <%= f.hidden_field :flame_color_id %>
        <%= f.hidden_field :side_color_id %>
        <%= f.hidden_field :seat_color_id %>
        <%= f.hidden_field :back_color_id %>
        <%= f.hidden_field :break %>
        <%= f.hidden_field :nursing_break %>
        <%= f.hidden_field :turnover %>
        <%= f.hidden_field :cane %>
        <%= f.hidden_field :cane2 %>
        <%= f.hidden_field :cushion %>
        <%= f.hidden_field :table %>
        <%= f.hidden_field :others %>
        <%= f.hidden_field :message %>
        <%= f.submit "見積を依頼する", class: "btn btn-success ml-5" %>
      <% end %>
    </div>
  </div>
</div>