<div class='container'>
  <div class='row'>
    <div class='col-8 mt-5 mx-auto'>
      <h4 class="text-center bg-light">オーダーメイド見積依頼履歴詳細</h4>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-8 mx-auto'>
      <table class="table table-borderless">
        <tbody>
          <tr class="border-bottom">
            <td class="table-active text-dark border-bottom align-middle" style="width: 25%">見積依頼日</td>
            <td><%= @made_to_order.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark border-bottom align-middle" style="width: 25%">
              フレームの種類
            </td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>
              <div>
                <%= @made_to_order.flame%>
                <%= @made_to_order.flame2 %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">型式</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.wheelchair_type %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">車体</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.material %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">フレーム色</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>アルマイト：
              <%= @made_to_order.flame_color.name %>
              <%= image_tag @made_to_order.flame_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">サイドガード色</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>アルマイト：
              <%= @made_to_order.side_color.name %>
              <%= image_tag @made_to_order.side_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">シート</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td>
              <div>
                座シート：色<%= @made_to_order.seat_color.name %>
                <%= image_tag @made_to_order.seat_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
              </div>
              <div>
                背シート：色<%= @made_to_order.back_color.name %>
                <%= image_tag @made_to_order.back_color.image, size: '60x40', style: "background-size: cover; background-position: center;" %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">ブレーキ</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.break %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">介護ブレーキ</td>
            <td class="table-active text-dark align-middle" style="width: 10%"><span class="text-danger">必須</span></td>
            <td><%= @made_to_order.nursing_break %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">転倒防止装置</td>
            <td class="table-active text-dark align-middle" style="width: 10%">任意</td>
            <td><%= @made_to_order.turnover %></td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">オプション</td>
            <td class="table-active text-dark align-middle" style="width: 10%">任意</td>
            <td>
              <div>
                杖入れ：<%= @made_to_order.cane %>
                <%= @made_to_order.cane2 %>
              </div>
              <div>
                クッション：<%= @made_to_order.cushion %>
              </div>
              <div>
                テーブル：<%= @made_to_order.table %>
              </div>
            </td>
          </tr>
          <tr class="border-bottom">
            <td class="table-active text-dark align-middle">その他要望</td>
            <td class="table-active text-dark align-middle" style="width: 10%">任意</td>
            <td><%= @made_to_order.others %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>