<div class='container'>
  <div class='row'>
    <div class='col-10 mt-4 mx-auto'>
      <h2 class="text-center h4 bg-light">注文情報確認</h2>
    </div>
  </div>
  <div class='row'>
    <%#= 注文商品%>
    <div class='col-10 mt-3 mx-auto'>
      <table class="table">
        <tbody>
          <tr>
            <td class="table-active text-dark" style="width: 40%">商品名</td>
            <td class="table-active text-dark" style="width: 20%">単価(税込)</td>
            <td class="table-active text-dark" style="width: 20%">数量</td>
            <td class="table-active text-dark" style="width: 20%">小計</td>
          </tr>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= image_tag cart_item.item.image, size: '60x40' %>
                <%= cart_item.item.name %></td>
              <td class="align-middle">￥<%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
              <td class="align-middle"><%= cart_item.amount %></td>
              <td class="align-middle">￥<%= cart_item.subtotal.to_s(:delimited) %></td>
              <% @total += cart_item.subtotal %>
            </tr>
          <% end %>
          <tr>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td class="text-right mr-3"><strong>商品合計</strong></td>
            <td colspan="3">￥<%= @total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="text-right mr-3"><strong>請求金額</strong></td>
            <td colspan="3"><% @order.billing_amount = @total %>
              ￥<%= @order.billing_amount.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <td class="text-right mr-3"><strong>支払方法</strong></td>
            <td colspan="3"><%= @order.payment %></td>
          </tr>
          <tr>
            <td class="text-right mr-3"><strong>お届け先</strong></td>
            <td colspan="3">
              <span class="mr-2">〒<%= @order.post_code %></span>
              <span class="mr-2"><%= @order.address %></span>
              <span class="mr-2"><%= @order.name %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% @order.postage = 0 %>
  <%= form_with model: @order do |f| %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :postage %>
    <%= f.hidden_field :payment %>
    <%= f.hidden_field :billing_amount %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :post_code %>
    <%= f.hidden_field :status %>
    <div class='mt-3 text-center'>
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
  <% end %>
</div>