<div class='container'>
  <div class='row mx-auto'>
    <div class='mt-4 col-8'>
      <%= render 'layouts/errors', obj: @order %>
      <h2 class="text-center h4 bg-light">注文情報入力</h2>
    </div>
  </div>
  <div class='row mt-4'>
    <div class="col-12 mx-auto">
      <%= form_with model: @order, url: orders_confirm_path do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><strong>支払方法</strong></td>
              <td class="text-danger">必須</td>
              <td style="width: 20%">
                <%= f.radio_button :payment, :現金, checked: "checked"%>
                <%= f.label :payment, "現金" %>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr class="border-bottom">
              <td colspan="2"></td>
              <td>
                <%= f.radio_button :payment, :銀行振込 %>
                <%= f.label :payment, "銀行振込" %>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td><strong>お届け先</strong></td>
              <td class="text-danger">必須</td>
              <td>
              <%= f.radio_button :address_option, 0, checked: "checked" %>
              <%= f.label :customer_id, "ご自身の住所" %>
              </td>
              <td colspan="2">
                <span class="pr-2"><%= current_customer.post_code %></span>
                <span class="pr-2"><%= current_customer.address %></span>
                <%= current_customer.first_name %><%= current_customer.last_name %>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <% if @deliveries.blank? %>
                <td colspan="1"></td>
                <td colspan="2"><p>他の住所は登録されていません</p></td>
              <% else %>
                <td>
                  <%= f.radio_button :address_option, 1 %>
                  <%= f.label :deliveries, "登録済住所から選択" %>
                </td>
                <td colspan="2">
                  <%= f.collection_select(:customer_id, @deliveries, :id, :full_delivery, {}, { class: "custom-select" }) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>
                <%= f.radio_button :address_option, 2 %>
                <%= f.label :order_address, "新しいお届け先" %>
              </td>
              <td style="width: 20%"><%= f.label :post_code, '郵便番号(ハイフンなし)', class: "col-form-label d-inline-block" %></td>
              <td><%= f.text_field :post_code, class: "form-control mb-2" %></td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><%= f.label :name, '住所', class: "col-form-label d-inline-block" %></td>
              <td colspan="1"><%= f.text_field :address, class: "form-control mb-2" %></td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><%= f.label :name, '宛名', class: "col-form-label d-inline-block" %></td>
              <td colspan="1"><%= f.text_field :name, class: "form-control mb-2" %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
        <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>