  <div style="background-color: #EEEEEE;">
    <div class="container">
          <div class="id-flex ustify-content-around">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EEEEEE;">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if customer_signed_in? %>
                  <li class="nav-link border rounded btn mr-5">
                    <%= link_to root_path do %>
                      <i class="fas fa-home text-dark"></i><a class="text-dark">ホーム</a>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to about_path do %>
                      <i class="fas fa-building text-dark"></i><a class="text-dark">会社概要</a>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to about_path do %>
                      <a class="text-dark">会社概要</a>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to items_path do %>
                    <a class="text-dark">カテゴリ</a>
                    <% end %>
                 </li>
                 <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to destroy_customer_session_path do %>
                      <i class="fas fa-wheelchair text-dark"></i><a class="text-dark">オーダーメイド</a>
                    <% end %>
                 </li>
                 <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to destroy_customer_session_path do %>
                      <i class="fas fa-tools text-dark"></i><a class="text-dark">修理依頼</a>
                    <% end %>
                 </li>
                  <li class="nav-item nav-link border rounded btn">
                    <%= link_to destroy_customer_session_path, method: :delete do %>
                      <i class="fas fa-info-circle text-dark"></i><a class="text-dark">お問い合わせ</a>
                    <% end %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to '商品一覧', admin_items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to '会員一覧', admin_customers_path,class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to '注文履歴一覧', destroy_admin_session_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to 'ジャンル一覧', admin_categories_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-dark border rounded btn" %>
                  </li>
                <% else %>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to  root_path do %>
                      <i class="fas fa-home text-dark"></i><a class="text-dark">ホーム</a>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to about_path do %>
                      <i class="fas fa-building text-dark"></i><a class="text-dark">会社概要</a>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to items_path do %>
                    <a class="text-dark">カテゴリ</a>
                    <% end %>
                 </li>
                 <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to destroy_customer_session_path do %>
                      <i class="fas fa-wheelchair text-dark"></i><a class="text-dark">オーダーメイド</a>
                    <% end %>
                 </li>
                 <li class="nav-item nav-link border rounded btn mr-5">
                    <%= link_to destroy_customer_session_path do %>
                      <i class="fas fa-tools text-dark"></i><a class="text-dark">修理依頼</a>
                    <% end %>
                 </li>
                  <li class="nav-item nav-link border rounded btn">
                    <%= link_to destroy_customer_session_path, method: :delete do %>
                      <i class="fas fa-info-circle text-dark"></i><a class="text-dark">お問い合わせ</a>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>