<div style="background-color: #EEEEEE;">
  <div class="container">
    <div class="col-12">
      <div class="f-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EEEEEE;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <% if customer_signed_in? %>
                <li class="nav-link border rounded btn mx-5">
                  <%= link_to root_path do %>
                    <i class="fas fa-home text-dark"></i>
                    <span class="text-dark">ホーム</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to about_path do %>
                    <i class="fas fa-building text-dark"></i>
                    <span class="text-dark">会社概要</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to categories_path do %>
                  <i class="fas fa-wheelchair text-dark"></i>
                    <span class="text-dark">カテゴリ</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to new_repair_path do %>
                    <i class="fas fa-tools text-dark"></i>
                    <span class="text-dark">修理依頼</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to rooms_path, method: :post do %>
                    <i class="fas fa-comment text-dark"></i>
                    <span class="text-dark">お問い合わせ</span>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item nav-link border rounded btn mx-4">
                  <%= link_to admin_customers_path do %>
                    <span class="text-dark">会員一覧</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-4">
                  <%= link_to admin_orders_path do %>
                    <span class="text-dark">注文履歴一覧</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-4">
                  <%= link_to admin_repairs_path do %>
                    <span class="text-dark">修理履歴一覧</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-4">
                  <%= link_to admin_orders_earnings_path do %>
                    <span class="text-dark">売上集計表</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-4">
                  <%= link_to admin_rooms_path do %>
                    <span class="text-dark">お問い合わせ管理</span>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to  root_path do %>
                    <i class="fas fa-home text-dark"></i>
                    <span class="text-dark">ホーム</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to about_path do %>
                    <i class="fas fa-building text-dark"></i>
                    <span class="text-dark">会社概要</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to categories_path do %>
                    <i class="fas fa-wheelchair text-dark"></i>
                    <span class="text-dark">カテゴリ</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to repairs_path do %>
                    <i class="fas fa-tools text-dark"></i>
                    <span class="text-dark">修理依頼</span>
                  <% end %>
                </li>
                <li class="nav-item nav-link border rounded btn mx-5">
                  <%= link_to new_contact_path do %>
                    <i class="fas fa-info-circle text-dark"></i>
                    <span class="text-dark">お問い合わせ</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>