<!DOCTYPE html>
<html>
  <head>
    <title>Wheelchair2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/header_bottom' %>
    <div class="pb-5" style="background-color: #FFFFFF;">
    <main>
      <div class="container">
        <div class="pt-3 alert alert" role="alert">
          <%= flash[:notice] %>
        </div>
      </div>
      <%= yield %>
    </main>
    </div>
  </body>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
